Django==1.7.1
Pygments==1.6
XlsxWriter==0.6.0
argparse==1.2.1
blessings==1.6
bpython==0.13.1
curtsies==0.0.36
django-admin-bootstrapped==2.1.0
futures==2.2.0
gevent==1.0.1
greenlet==0.4.5
grequests==0.2.0
requests==2.4.3
wsgiref==0.1.2


